@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
	/* font-family: sans-serif; */
}

.colorful-box {
	background: linear-gradient(136.08deg, rgb(30, 20, 67) 0%, rgb(20, 21, 23) 100%) padding-box,
		linear-gradient(160deg, #5721f2, #793ae0) border-box;
	border-style: solid;
	border-color: transparent;
	border-width: 2px;
	border-radius: 16px;
	box-shadow: 4px 4px 16px #5721f240;
}

.colorful-box2 {
	background: linear-gradient(136.08deg, rgb(30, 20, 67) 0%, rgb(20, 21, 23) 100%) padding-box,
		linear-gradient(160deg, #5721f2, #793ae0) border-box;
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
	border-radius: 10px;
	box-shadow: 4px 4px 16px #5721f240;
}

.transition-top-left {
	transition: top 0.3s ease, left 0.3s ease;
}

.dark-box {
	background: linear-gradient(308.65deg, #0b0d0f 0%, #1b1c1f 117.53%);
	border: 1px solid #2f3337;
	border-radius: 24px;
	padding-block: 16px;
	width: 100%;
}
